@font-face {
	font-family: BenSen;
	src: url('BenSen.ttf');
}

.chromeframe {
	margin:0.2em 0;
	background:#ccc;
	color:black;
	padding: 0.2em 0;
}

.overlay {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	background: rgba(34,34,34,0.75);
}

.overlay .message {
	text-align: justify;
	width:520px;
	max-height: 520px;
	margin: 100px auto;
	background-color: #eaeaea;
	border:2px solid #000;
	padding:15px;
	overflow-y: scroll;
}

.overlay .close {
	float:right;
	padding: 5px;
	border-radius: 10px;
	color: #aaaaaa;
	border:1px solid #aaaaaa;
}

.overlay pre {
	padding: 8px 15px;
	border-radius: 5px;
	border: 1px solid #A5A5A5;
	overflow-x: auto;
}

.overlay pre .value {
	color: #0086B3;
}

.overlay pre .category {
	color: #D14;
}

.overlay pre .use-query {
	float: right;
	background-color: #ccc;
	color: #004391;
	border-radius: 2px;
	border: 1px solid #A5A5A5;
	padding: 3px;
	font-family: BenSen;
}

html, body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('../images/bg.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#gbn {
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#gbn input::-webkit-input-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#gbn input:-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#gbn h1 {
	position: absolute;
	top: -120px;
	width: 100%;
	font-family: BenSen;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#search-field {
	padding: 10px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
	font-size: 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

#result-list {
	margin: 0;
	padding: 0;
	max-height: 500px;
	overflow: auto;
	list-style: none;
}

#result-list li {
	position: relative;
	font-size: 15px;
	border-bottom: 1px dotted #ccc;
	padding: 10px;
}

#result-list li:hover {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#result-list li:last-child {
	border-bottom: none;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 100px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
	            0 6px 0 -3px rgba(255, 255, 255, 0.8),
	            0 7px 1px -3px rgba(0, 0, 0, 0.3),
	            0 42px 0 -6px rgba(255, 255, 255, 0.8),
	            0 43px 2px -6px rgba(0, 0, 0, 0.2);
}

.clear-results {
	float: right;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	font-size: 11px;
	padding: 0 10px;
	position: relative;
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.clear-results:hover {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#lyrics {
	font-family: BenSen;
	font-size: 20px;
	white-space: pre;
}

.box {
	border: dashed 1px #b3b3b3;
	padding: 10px;
	margin: 10px;
}

@media print {
	header {
		display: none !improtant;
	}
	#main {
		display: none !important;
	}
	#footer {
		display: none !important;
	}
	#songs {
		display: none !important;
	}
	#info {
		display: none !important;
	}
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

